.header-color {
  background: #3494E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #3494E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #EC6EAD, #3494E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EC6EAD, #3494E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  
}



.banner-text {
  opacity: .8;
  width: 100%;
  margin-top: 50px;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: white;
}

.banner-text hr {
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
  margin-top: 5em;
}

.social-links {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
  
}

.social-links i {
  color: white;
  font-size: 4em;
  padding: 8px;
  margin: auto;
  margin-top: 1em;
}

.social-links i:hover {
  transform: scale(1.5)
}

.tech-icon {
  height: 75px;
  width: 75px;
  margin: auto;
}
.icon2 {
  height: 65px;
  width: 65px;
  margin: auto;
}
.icon-holder {
  padding: 5px;
  margin: auto;
}

.tech-icon:hover {
  transform: scale(1.5)
}

.icon-holder:hover {
  transform: scale(1.5)
}

.icons {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: auto;
  padding-top: 12px;
}

.button {
  text-align: center;
  margin-top: 8em;
}

.projects-grid {
  display: flex; 
  padding: 3em;
}

.icons {
  margin-top: 6em;
}



@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}


.projects-grid>div:hover {
	animation: bounce 1s;
}

.contact-grid {
  text-align: center;
}

.message {
  font-family: 'Pacifico', cursive;
}

.contact-cell {
  border-right: 5px dotted black;
  height: 100vh
}

.aboutPage {
  text-align: center;
}

.aboutBox {
  text-align: center;
}

.summary {
  text-align: left;
  padding: 20px;
  margin-top: 5%;
  border: dotted 5px black;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}